<main class="w-full h-[100vh] flex justify-center items-center">
  <section class="bg-DarkGrey rounded min-w-[400px] max-w-[600px] h-[80vh]">
    <section class="my-[20px] flex justify-center text-center items-center">
      <img src="../assets/images/avatar-jessica.jpeg" alt="Image" class="rounded-[100%] h-[11vh] flex">
    </section>
    <section class="flex flex-col text-center justify-center my-[20px]">
      <h1 class="text-[25px] md:text-[27px] text-white font-inter">Jessica Randall</h1>
      <p class="text-Green text-[13px] font-inter">London, United Kingdom</p>
    </section>
    <section class="flex text-center text-white font-thin mx-auto">
      <p class="text-center mx-auto">"Front-end developer and avid reader."</p>
    </section>
    <section class="flex flex-col justify-center text-center text-white my-[20px]">
      <a href="https://github.com/aponchikaj"><button class="rounded w-[40vh] bg-Grey p-[10px] my-[5px] font-inter hover:bg-Green hover:text-Black">Github</button></a>
      <a href="https://www.frontendmentor.io/profile/aponchikaj"><button class="rounded w-[40vh] bg-Grey p-[10px] my-[5px] font-inter hover:bg-Green hover:text-Black">Frontend Mentor</button></a>
      <a href="https://www.linkedin.com/in/lazare-mirziashvili-069672306/"><button class="rounded w-[40vh] bg-Grey p-[10px] my-[5px] font-inter hover:bg-Green hover:text-Black">Linkedin</button></a>
      <a href="#"><button class="rounded w-[40vh] bg-Grey p-[10px] my-[5px] font-inter hover:bg-Green hover:text-Black">Twitter</button></a>
      <a href="https://www.instagram.com/aponchikj/"><button class="rounded w-[40vh] bg-Grey p-[10px] my-[5px] font-inter hover:bg-Green hover:text-Black">Instagram</button></a>
    </section>
  </section>
</main>